<template lang="pug">
q-page
  div.row
    div.col-xs-12.col-sm-6
      trail-details(:id="id")
    div.col-xs-12.col-sm-6
      trail-map(:latitude="lat" :longitude="lon" :name="name")
</template>

<script>
import { defineComponent } from 'vue'
import { useRoute } from 'vue-router'
import TrailDetails from '../components/TrailDetails'
import TrailMap from '../components/TrailMap'

export default defineComponent({
  name: 'Details',
  components: { TrailDetails, TrailMap },
  setup () {
    const route = useRoute()
    const id = route.query.id
    const lat = route.query.lat
    const lon = route.query.lon
    const name = route.query.name

    return { id, lat, lon, name }
  }
})
</script>
