<template lang="pug">
div.row
  div.col-6.offset-3
    p.text-h4.text-center.q-mt-xl 404 - Page Not Found
    q-img.q-mt-md(src="../assets/fourohfour.jpg")
    div.text-center
      q-btn.q-mt-xl(color="primary" text-color="white" unelevated to="/" label="Go Home" no-caps)
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Error404'
})
</script>
