<template lang="pug">
q-page
  search-bar
  search-results-message
  div.row(v-show="isSearchResults")
    div.col-xs-12.col-sm-6
      search-results-list
    div.col-xs-12.col-sm-6
      search-results-map
  div.row.q-mt-lg.q-mx-md(v-if="!isSearchResults")
    site-intro
</template>

<script>
import { defineComponent, computed } from 'vue'
import { useStore } from 'vuex'
import SearchBar from '../components/SearchBar'
import SearchResultsMessage from '../components/SearchResultsMessage'
import SearchResultsList from '../components/SearchResultsList'
import SearchResultsMap from '../components/SearchResultsMap'
import SiteIntro from '../components/SiteIntro'
export default defineComponent({
  name: 'Home',
  components: { SearchBar, SearchResultsMessage, SearchResultsList, SearchResultsMap, SiteIntro },
  setup () {
    const store = useStore()
    const isSearchResults = computed(() => store.getters['searchResults/isSearchResults'])
    return { isSearchResults }
  }
})
</script>
