<template lang="pug">
div.google-map(ref="googleMapDiv")
  q-resize-observer(@resize="resizeMap")
</template>

<script>
import { defineComponent, ref, toRefs, watchEffect, computed } from 'vue'
import { useStore } from 'vuex'
export default defineComponent({
  props: {
    mapConfig: {
      type: Object,
      required: true
    }
  },
  setup (props) {
    const store = useStore()
    const { mapConfig } = toRefs(props)
    const googleMapDiv = ref(null)
    const map = ref(null)
    // google maps api is loaded once on app init and stored in vuex
    const googleMapsApi = computed(() => store.state.searchResults.googleMapsApi)

    const createMap = () => {
      // coords may be strings or floats, depending on the route
      mapConfig.value.center = { lat: parseFloat(mapConfig.value.center.lat), lng: parseFloat(mapConfig.value.center.lng) }
      map.value = new googleMapsApi.value.maps.Map(googleMapDiv.value, mapConfig.value)
      addMarker({ lat: mapConfig.value.center.lat, lng: mapConfig.value.center.lng }, 'Current Location', 'http://maps.google.com/mapfiles/kml/pal4/icon57.png')
      mapConfig.value.markers.forEach(marker => addMarker({ lat: marker.lat, lng: marker.lon }, marker.name))
    }

    watchEffect(() => {
      // draw map once there is data to draw.  this is needed initally draw the map and to redraw when navigating back.
      if (Object.entries(mapConfig.value).length !== 0 && googleMapDiv.value) { createMap() }
    })

    const addMarker = (location, title, icon = '') => {
      // eslint-disable-next-line no-new
      new googleMapsApi.value.maps.Marker({
        position: { lat: parseFloat(location.lat), lng: parseFloat(location.lng) },
        map: map.value,
        title: title,
        icon: icon
      })
    }

    // set the height for the map div based on the page height minus header and footer
    const resizeMap = () => {
      const mapElements = [...document.getElementsByClassName('google-map')]
      const bodyElement = document.getElementsByTagName('body')[0]
      const maxHeight = bodyElement.clientHeight - 215
      mapElements.forEach((element) => {
        const width = element.clientWidth
        width > maxHeight ? element.style.height = maxHeight + 'px' : element.style.height = width + 'px'
      })
    }

    return { googleMapsApi, googleMapDiv, map, resizeMap }
  }
})
</script>
