<template lang="pug">
q-dialog(v-model="locationInfoDialog")
  q-card
    q-card-section
      div.text-h6 Using Device Location
    q-card-section.q-pt-none Brower location must be enabled in order to use device location.&nbsp;&nbsp;If you do not wish to use device location you can also search by zip code.
    q-card-actions(align="right")
      q-btn(flat label="OK" color="primary" @click="$emit('closeLocationInfoDialog')")
</template>

<script>
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'LocationInfoDialog',
  props: {
    locationInfoDialog: Boolean
  },
  setup (props) {}
})
</script>
