<template lang="pug">
div.row.q-pa-sm.justify-center
  q-btn-toggle.gps-button-toggle.q-mt-sm-sm(v-model="btnToggle" no-caps rounded unelevated toggle-color="primary" color="white" text-color="primary" :options="btnOptions")
  q-input.q-ml-md.q-pt-sm-sm(:class="{'zipcode-error' : zipError, 'q-field--highlighted' : zipError }" v-model="zipcode" :label="zipLabel" v-if="showZip" outlined dense)
    template(v-slot:append)
      q-icon(:name="zipErrorIcon" color="negative")
  q-btn.q-ml-md.q-mt-sm-sm(:color="gpsStatusColor" :label="gpsStatus" :loading="gpsLoading" :icon-right="gpsStatusIcon" v-if="showGPS" @click="locationInfoDialog = true")
    template(v-slot:loading)
      |Locating...&nbsp;&nbsp;
      q-spinner-orbit
  q-select.q-ml-md.q-pt-sm-sm(v-model="distance" label="Distance" :options="selectOptions" outlined :display-value="`${distance} Miles`" dense)
  q-btn.q-ml-md.q-px-lg.q-mt-sm-sm(color="primary" label="Search" @click="search" :disabled="!formValid" :loading="searching")
  location-info-dialog(:locationInfoDialog="locationInfoDialog" @closeLocationInfoDialog="locationInfoDialog = false")
</template>

<script>
import { defineComponent, ref, computed, watch } from 'vue'
import { useStore } from 'vuex'

import LocationInfoDialog from '../components/LocationInfoDialog'
export default defineComponent({
  name: 'SearchBar',
  components: { LocationInfoDialog },
  setup () {
    const store = useStore()
    const googleMapsApi = computed(() => store.state.searchResults.googleMapsApi)

    const btnToggle = ref('zipcode')
    const btnOptions = ref([
      { label: 'Use Device Location', value: 'GPS' },
      { label: 'Use zipcode', value: 'zipcode' }
    ])

    const zipTest = /^\d{5}$/g
    const zipcode = ref('')
    const showZip = ref(true)
    const zipLabel = computed(() => zipError.value ? 'Enter a 5-Digit zipcode' : 'zipcode')
    const zipError = computed(() => zipcode.value !== '' && !zipTest.test(zipcode.value))
    const zipErrorIcon = computed(() => zipError.value ? 'error' : '')

    const gpsStatusColor = ref('primary')
    const gpsStatus = ref('GPS Status')
    const gpsLoading = ref(false)
    const showGPS = ref(false)
    const locationInfoDialog = ref(false) // send to component as prop
    const gpsStatusIcon = computed(() => {
      let icon = ''
      if (!gpsLoading.value && gpsStatus.value === 'Location Obtained') {
        icon = 'done'
      } else if (!gpsLoading.value && gpsStatus.value === 'Error, Unable to Obtain Location') {
        icon = 'error_outline'
      }
      return icon
    })

    watch(btnToggle, (newValue, prevValue) => {
      if (newValue === 'GPS') {
        useGeolocationAPI()
        showZip.value = false
      } else {
        zipcode.value = ''
        showZip.value = true
        showGPS.value = false
      }
    })

    const coords = ref(null)

    const useGeolocationAPI = () => {
      showGPS.value = true
      if (!navigator.geolocation) {
        gpsStatus.value = 'Geolocation is not supported by your browser'
      } else {
        gpsStatus.value = 'Locating…'
        gpsLoading.value = true
        navigator.geolocation.getCurrentPosition(success, error)
      }
    }

    const success = (position) => {
      coords.value = { latitude: position.coords.latitude, longitude: position.coords.longitude }
      gpsLoading.value = false
      gpsStatus.value = 'Location Obtained'
      gpsStatusColor.value = 'positive'
    }

    const error = () => {
      gpsStatus.value = 'Error, Unable to Obtain Location'
      gpsLoading.value = false
      gpsStatusColor.value = 'negative'
    }

    const distance = ref('25')
    const selectOptions = ref(['10', '20', '25', '30', '40', '50'])
    const zoom = ref(9)
    watch(distance, (newValue, prevValue) => {
      switch (newValue) {
        case '10': zoom.value = 11
          break
        case '20': zoom.value = 10
          break
        default: zoom.value = 9
      }
    })

    const formValid = computed(() => (btnToggle.value === 'GPS' && coords.value !== null) || (zipcode.value !== '' && !zipError.value))
    const searching = ref(false)

    const search = () => {
      searching.value = true
      geocodeIfZipUsed()
        .then((result) => { // utility function
          fetch(`https://trailapi-trailapi.p.rapidapi.com/trails/explore/?lat=${result.latitude}&lon=${result.longitude}&radius=${distance.value}`, {
            method: 'GET',
            headers: {
              'x-rapidapi-key': process.env.VUE_APP_XRAPIDAPI_KEY,
              'x-rapidapi-host': 'trailapi-trailapi.p.rapidapi.com'
            }
          }).catch(error => console.log('Trail API Error: ', error))
            .then(response => {
              return response.json()
            }).catch(error => console.log('Trail API Data JSON Conversion Error: ', error))
            .then(results => {
              store.dispatch('searchResults/saveSearchedYet', true)
              store.dispatch('searchResults/saveDistance', distance.value)
              store.dispatch('searchResults/saveLocation', coords.value)
              // search results message uses the saveZipcode value from the vuex store to format message
              const savedZipcode = btnToggle.value === 'zipcode' ? zipcode.value : ''
              store.dispatch('searchResults/saveZipcode', savedZipcode)
              if (results.data) {
                store.dispatch('searchResults/saveSearchResults', results.data)
              } else {
                store.dispatch('searchResults/saveSearchResults', {})
              }
              searching.value = false
            }).catch(error => { console.log('maps API loader error: ', error) })
        }).catch(error => console.log('Geocoding error: ', error))
    }

    const geocodeIfZipUsed = () => {
      return new Promise((resolve, reject) => {
        if (btnToggle.value === 'zipcode') {
          geocodeZip(btnToggle.value, zipcode.value)
            .then(result => {
              coords.value = { latitude: result.latitude, longitude: result.longitude }
              resolve(result)
            }).catch(error => reject(error))
        } else { resolve(coords.value) }
      })
    }

    const geocodeZip = (btnToggle, Zipcode) => {
      return new Promise((resolve, reject) => {
        if (btnToggle === 'zipcode') {
          new googleMapsApi.value.maps.Geocoder().geocode({ address: Zipcode }, (results, status) => {
            if (status === 'OK') {
              resolve({ latitude: results[0].geometry.location.lat(), longitude: results[0].geometry.location.lng() })
            } else {
              reject('geocoding error: ', status)
            }
          })
        } else { resolve('Zipcode not used') }
      })
    }

    return { btnToggle, btnOptions, zipcode, showZip, zipLabel, zipError, zipErrorIcon, coords, gpsStatusColor, gpsStatus, gpsLoading, showGPS, gpsStatusIcon, locationInfoDialog, distance, selectOptions, formValid, search, searching }
  }
})
</script>

<style lang="sass" scoped>
  .gps-button-toggle
    border: 1px solid #027be3
  .zipcode-error::v-deep .q-field__control
    color: var(--q-negative)
</style>
