<template lang="pug">
q-list(bordered separator)
  q-item(v-for="item in searchResults" :key="item.id" clickable v-ripple :to="`/details?id=${item.id}&lat=${item.lat}&lon=${item.lon}&name=${item.name}`")
    q-item-section
      q-item-label {{ item.name }}
      q-item-label(caption) {{ item.city }}, {{ item.region }}
    q-item-section(side top)
      q-item-label.text-dark {{ item.length }} Miles
      q-item-label(:class="difficultyColor(item)") {{ item.difficulty }}
</template>

<script>
import { defineComponent, computed } from 'vue'
import { useStore } from 'vuex'

export default defineComponent({
  name: 'SearchResultsList',
  setup () {
    const store = useStore()

    const searchResults = computed(() => store.state.searchResults.searchResults)

    const difficultyColor = (item) => {
      let textClass
      switch (item.difficulty) {
        case 'Easiest':
        case 'Beginner': textClass = 'text-positive'
          break
        case 'Intermediate': textClass = 'text-primary'
          break
        case 'Advanced': textClass = 'text-negative'
          break
        default: textClass = 'text-primary'
      }
      return textClass
    }

    return { searchResults, difficultyColor }
  }
})
</script>

<style lang="sass" scoped>

</style>
