<template lang="pug">
google-map-loader(:mapConfig="mapConfig")
</template>

<script>
import { defineComponent, computed } from 'vue'
import { useStore } from 'vuex'
import { setZoomLevel } from '../helpers/maps'
import GoogleMapLoader from '../components/GoogleMapLoader'

export default defineComponent({
  name: 'ResultsMap',
  components: { GoogleMapLoader },
  setup () {
    const store = useStore()
    const searchResults = computed(() => store.state.searchResults.searchResults)
    const location = computed(() => store.state.searchResults.location)
    const distance = computed(() => store.state.searchResults.distance)

    const mapConfig = computed(() => {
      let config = {}
      if (location.value.latitude !== undefined) {
        config = {
          center: { lat: location.value.latitude, lng: location.value.longitude },
          zoom: setZoomLevel(distance.value),
          markers: searchResults.value
        }
      }
      return config
    })

    return { mapConfig }
  }
})
</script>

<style lang="sass" scoped>
.google-map
  width: 100%
</style>
