<template lang="pug">
div.row.q-pb-md.q-pt-sm.q-px-sm.justify-center.text-weight-bold(v-if="searchedYet") {{ searchResultsMessage }}
</template>

<script>
import { defineComponent, computed } from 'vue'
import { useStore } from 'vuex'
export default defineComponent({
  name: 'SearchResultsMessage',
  setup () {
    const store = useStore()

    const searchResults = computed(() => store.state.searchResults.searchResults)
    const distance = computed(() => store.state.searchResults.distance)
    const searchedYet = computed(() => store.state.searchResults.searchedYet)
    const zipcode = computed(() => store.state.searchResults.zipcode)
    const searchResultsMessage = computed(() => {
      let message
      const numberOfResults = searchResults.value.length
      const source = zipcode.value === '' ? 'your location' : zipcode.value
      switch (numberOfResults) {
        case 0 || undefined: message = `No results within ${distance.value} Miles of ${source}`
          break
        case 1: message = `1 result within a ${distance.value} Miles of ${source}`
          break
        default: message = `${numberOfResults} results within ${distance.value} Miles of ${source}`
      }
      return message
    })

    return { searchedYet, searchResultsMessage, zipcode }
  }
})
</script>
