<template lang="pug">
q-card
  q-img(:src="imageURL" style="max-height: 300px;" fit="cover")
  q-card-section
    q-btn(fab :color="difficultyFormat.color" :icon="difficultyFormat.icon" class="absolute" style="top: 0; right: 12px; transform: translateY(-50%);")
    div.row.no-wrap.items-center
      div.col.text-h6.ellipsis {{ details.name }}
      div.col-auto.text-subtitle2.q-pt-md.row.no-wrap.items-center {{ details.difficulty}}
    q-rating(v-model="details.rating" size="2em" color="green-5")
    div.q-pt-md.text-subtitle2 Length: {{ details.length}} Miles
  q-card-section.q-pt-none
    div.text-body2(v-html="details.description")
    div.text-body2.q-pt-md
      a.primary(:href="details.url" target="_blank") {{ details.url }}
  q-separator
  q-card-actions
    q-btn(color="primary" type="a" target="_blank" :href="`https://www.google.com/maps/search/?api=1&query=${details.lat},${details.lon}`") Open in Google Maps
</template>

<script>
import { defineComponent, ref, computed, onMounted } from 'vue'

export default defineComponent({
  name: 'TrailDetails',
  props: {
    id: String
  },
  setup (props) {
    const details = ref({ rating: 0 })
    const imageURL = computed(() => !details.value.thumbnail || details.value.thumbnail === '' ? 'https://via.placeholder.com/300?text=No Image Available' : details.value.thumbnail)
    const difficultyFormat = computed(() => {
      let format
      switch (details.value.difficulty) {
        case 'Easiest':
        case 'Beginner': format = { icon: 'stop_circle', color: 'positive' }
          break
        case 'Intermediate': format = { icon: 'stop', color: 'primary' }
          break
        case 'Advanced': format = { icon: 'warning', color: 'dark' }
          break
        default: format = { icon: 'assessment', color: 'primary' }
      }
      return format
    })
    onMounted(() => {
      fetch(`https://trailapi-trailapi.p.rapidapi.com/trails/${props.id}`, {
        method: 'GET',
        headers: {
          'x-rapidapi-key': process.env.VUE_APP_XRAPIDAPI_KEY,
          'x-rapidapi-host': 'trailapi-trailapi.p.rapidapi.com'
        }
      }).catch(error => console.log('Trail API Error: ', error))
        .then(response => {
          return response.json()
        }).catch(error => console.log('Trail API Data JSON Conversion Error: ', error))
        .then(results => {
          details.value = results.data[0]
        }).catch(error => { console.log('maps API loader error: ', error) })
    })

    return { details, imageURL, difficultyFormat }
  }
})
</script>
