<template lang="pug">
google-map-loader(:mapConfig="mapConfig")
</template>

<script>
import { defineComponent, computed } from 'vue'
import { useStore } from 'vuex'
import GoogleMapLoader from '../components/GoogleMapLoader'
import { setZoomLevel } from '../helpers/maps'
export default defineComponent({
  name: 'TrailMap',
  components: { GoogleMapLoader },
  props: {
    latitude: String,
    longitude: String,
    name: String
  },
  setup (props) {
    const store = useStore()
    const currentLocation = computed(() => store.state.searchResults.location)
    const distance = computed(() => store.state.searchResults.distance)
    const mapConfig = computed(() => {
      return {
        center: { lat: currentLocation.value.latitude, lng: currentLocation.value.longitude },
        zoom: setZoomLevel(distance.value),
        markers: [
          { lat: props.latitude, lon: props.longitude, title: props.name }
        ]
      }
    })
    return { mapConfig }
  }
})
</script>
