<template lang="pug">
q-layout(view="lHh Lpr lFf")
  q-header(elevated)
    q-toolbar
      q-btn.q-pa-none(flat to="/")
        q-avatar
          img(src="../assets/sdlogo.png")
      q-toolbar-title Bike Trail Locator
      q-separator
      q-btn(color="white" text-color="primary" label="Contact" to="/contact")
  q-page-container
    router-view(v-slot="{ Component }")
      transition(name="fade")
        component(:is="Component")
  q-footer.q-pa-sm(elevated)
    a.text-white(href="mailto:smellydogcoding@gmail.com") &copy; {{ new Date().getFullYear() }} Smellydog Coding
</template>

<script>
import { defineComponent, onMounted } from 'vue'
import { useStore } from 'vuex'
import { Loader as GoogleMapsApiLoader } from '@googlemaps/js-api-loader'
export default defineComponent({
  name: 'MainLayout',
  setup () {
    onMounted(() => {
      const store = useStore()
      const googleMapsApi = store.state.searchResults.googleMapsApi
      // check if google maps api is in vuex store before loading a new one
      if (Object.entries(googleMapsApi).length === 0) {
        const googleMapApi = new GoogleMapsApiLoader({
          apiKey: process.env.VUE_APP_GOOGLE_API_KEY,
          version: 'weekly'
        })
        googleMapApi.load()
          .then(() => {
            // google is exposed even though the linter can't see it
            // save current instance of google maps api to vuex store
            // eslint-disable-next-line no-undef
            store.dispatch('searchResults/saveGoogleMapsApi', google)
          })
      }
    })
  }
})
</script>

<style lang="sass" scoped>
  .fade-enter-active, .fade-leave-active
    transition: opacity 0.5s ease
  .fade-enter-from, .fade-leave-to
    opacity: 0
</style>
